extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/form-submit.pug

block main 
    h1 Danh sách sản phẩm

    .card.mb-3
        .card-header Bộ lọc và tìm kiếm
        .card-body
            .row
                .col-6
                    +filterStatus(filterStatus)
                .col-6 
                    +search(keyword)

    .card.mb-3 
        .card-header Danh sách sản phẩm 
        .card-body

            +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)

            table(class="table table-hover table-sm" checkbox-multi)
                thead 
                    tr 
                        th
                            input(type="checkbox", name="checkall")
                        th STT 
                        th Hình ảnh
                        th Tiêu đề
                        th Giá
                        th Trạng thái
                        th Hoạt động

                tbody 
                    each item, index in products
                        tr 
                            td 
                                input(type="checkbox" name="id" value=item.id)
                            td #{index + 1}
                            td 
                                img(src=`${item.thumbnail}`
                                alt=`${item.title}` 
                                width="100px"
                                height="auto")
                            td #{item.title} 
                            td #{item.price}$
                            td 
                                a(
                                    href="javascript:;" 
                                    class=(item.status==="active" ? "badge badge-success" : "badge badge-danger")
                                    data-status=item.status
                                    data-id=item.id
                                    button-change-status
                                ) #{(item.status==="active" ? "Hoạt động" : "Dừng hoạt động")}
                            td 
                                button(class="btn btn-warning btn-sm") Sửa
                                button(
                                    class="btn btn-danger btn-sm ml-l"
                                    button-delete
                                    data-id = item.id
                                    ) Xóa


    .row 
        .col-8                    
            nav(class="row")
                ul.pagination
                    li.page-item
                        button(class=`page-link ${objPagination.pageNumber==1 ? "disabled": ""}` 
                        page-number="-1") Trước 
                    -for (let i=0; i<objPagination.totalPage; i++)
                        li.page-item
                            button(class=`page-link ${i+1==objPagination.pageNumber ? "active": ""}` 
                            page-number=`${i+1}`) #{i+1}
                    li.page-item
                        button(class=`page-link ${objPagination.pageNumber==objPagination.totalPage ? "disabled" : ""}` 
                        page-number="+1") Sau 
        .col-2 
            a(href=`${prefixAdmin}/products/trash` class="btn btn-secondary") Thùng rác

    +form-submit("form-change-status", `${prefixAdmin}/products/change-status`)

    +form-submit("form-delete-product", `${prefixAdmin}/products/delete-product`) 


    script(src="/admin/js/product.js") 