extends ../../layouts/default
include ../../mixins/box-head.pug

block title 
    title=title 

block main  
    .container.my-3
        if(product.title)
            h1(class="mb-4") #{product.title}
        
        if(product.price)
            div(class="mb-4") Giá: <b>#{product.price}$</b>
        
        if(product.discountPercentage)
            div(class="mb-4") Giảm giá: <b>#{product.discountPercentage}%</b>
        
        if(product.stock)
            div(class="mb-4") Số lượng: <b>#{product.stock}</b>
        
        if(product.thumbnail)
            img(src=product.thumbnail style="width: 100px")
        
        if(product.position)
            .mb4 Vị trí: <b>#{product.position}</b>

        if(product.description)
            .mb-4 #{product.description}