mixin form-change-multi(title , path, objOption, name)
    form(
        action=path 
        method="POST"
        form-change-multi
    )
        .d-flex.align-items-start 
            .form-group 
                select(name="type" class="form-control")
                    option(disabled selected) Chọn một hành động
                    each item in objOption 
                        option(value=`${item.value}`)  #{item.valueTitle}
            .form-group 
                input(
                    type="text"
                    name="ids"
                    value=""
                    class="form-control d-none"
                ) 
            button(type='submit' class="btn btn-primary") Áp dụng